{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block title_in_body %}Регистрация{% endblock %}
{% block content %}
    <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button type="submit">Зарегистрироваться</button>
      <input type="reset" value="Очистить">
      <input type="button" onclick="location.href='../login'" value='Аутентификация'>
    </form>
{% endblock %}
